<%= form_with(model:[maki, comment], remote: true) do |f| %>
 <%= f.text_area :comment, rows:'5',cols:'80',placeholder: "コメントをここに" %>
  <p style= "width:100px;">
   <%= f.submit "送信",class: "btn-animation-border btn-sm btn-block"  %>
  </p>
<% end %>