<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<div class='top-bg px-5 px-sm-0'>
<div class="container">
  <div class="row">
    <p class="col-5"></p>
    <p class="midashi text-center">お知らせ</p>
  </div>
  <div class="row">
    <div class="col-7">

    <%= link_to notifications_destroy_all_path, method: :delete do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h5 style="color: black;"></h5>
    <% end %>
  </div>
    </div>
    <hr>
<% if @notifications.exists? %>
    <div class="users-index">
        <%= render "notifications", notifications: @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
 <h4><%= paginate @notifications %></h4>