/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
 font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
}

@font-face {
 font-family: "vintage",;
 src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
}

header {
   font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
  background-image:image-url('shutterstock_1975741912.jpg');
  background-position:center;
  background-size:cover;
  height: 100px;

}
body{
  //height:100vh;
  background-image:image-url('shutterstock_113944255.jpg');
  background-position:center;
  //background-size:cover;
}
main{
//  display: flex;
  position:relative;
  padding-bottom: 120px;
  min-height: 60vh;
}

footer{
  background-image:image-url('shutterstock_1975741913.jpg');
  background-position:bottom;
  background-size:cover;
   height: 80px;
  }

.footer_text{
  font-family: 'vintage';
  src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
  margin: 0;
  //position:absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
   text-align: center;
   background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(156,73,5,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}

.user-name{
  margin-right:80px;
  -webkit-text-fill-color:#FFFFEE;
}
.fa-stack{
  margin-left: 10px;
  margin-right: 20px;
}

.fa-bell {
  font-size: larger;
  position: absolute;
  margin-top: 3px;
  -webkit-text-fill-color:#00F9A9;
}
.fa-circle{
  font-size: xx-small;
  position: fixed;
  -webkit-text-fill-color:#FFFF00;
}

.midashi{
 font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
   text-align: center;
 background: rgb(3,0,0);
background: radial-gradient(circle, rgba(3,0,0,1) 0%, rgba(156,73,5,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  margin-top: 10px;
}


thead{
   font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
}

.font{
   font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
}

.btn-animation-border::before,
.btn-animation-border::after {
  position:absolute;
  width: 0;
  height: 2.5px;
  content:"";
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #222;
}
.btn-animation-border::before {
  top:0;
  left:0;
}
.btn-animation-border::after {
  right:0;
  bottom:0;
}
.btn-animation-border:hover::before,
.btn-animation-border:hover::after {
  width:100%;
}
.btn-animation-border:hover{
  color:#000;
  background-color: #fff;
}


.h-font{
     text-align: center;
background: rgb(128,45,0);
background: linear-gradient(0deg, rgba(128,45,0,1) 0%, rgba(194,189,186,0.9920343137254902) 65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}






.btn-animation-border{
   font-family: 'vintage';
  src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
  text-align: center;
background: rgb(3,0,0);
background: radial-gradient(circle, rgba(3,0,0,1) 0%, rgba(156,73,5,1) 49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  position: relative;
  color:#fff;
  background-color: #222;
  padding: 10px 8px 10px 8px;
  text-align: center;
}
.btn-animation-border::before,
.btn-animation-border::after {
  position:absolute;
  width: 0;
  height: 2.5px;
  content:"";
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #222;
}
.btn-animation-border::before {
  top:0;
  left:0;
}
.btn-animation-border::after {
  right:0;
  bottom:0;
}
.btn-animation-border:hover::before,
.btn-animation-border:hover::after {
  width:100%;
}
.btn-animation-border:hover{
  color:#000;
  background-color: #fff;
}

.yoyo{
  height: 35px;
}