// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
 font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
}

@font-face {
 font-family: "vintage",;
 src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
}

.font-vintage{
   font-family: 'vintage';
  src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
  text-align: center;
 background: rgb(3,0,0);
background: radial-gradient(circle, rgba(3,0,0,1) 0%, rgba(156,73,5,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.font-takibi{
   font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
   text-align: center;
 background: rgb(3,0,0);
background: radial-gradient(circle, rgba(3,0,0,1) 0%, rgba(156,73,5,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

a.btn-animation-border{
   font-family: 'vintage';
  src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
  text-align: center;
background: rgb(3,0,0);
background: radial-gradient(circle, rgba(3,0,0,1) 0%, rgba(156,73,5,1) 49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  position: relative;
  color:#fff;
  background-color: #222;
  padding: 10px 8px 10px 8px;
  text-align: center;
}
a.btn-animation-border::before,
a.btn-animation-border::after {
  position:absolute;
  width: 0;
  height: 2.5px;
  content:"";
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #222;
}
a.btn-animation-border::before {
  top:0;
  left:0;
}
a.btn-animation-border::after {
  right:0;
  bottom:0;
}
a.btn-animation-border:hover::before,
a.btn-animation-border:hover::after {
  width:100%;
}
a.btn-animation-border:hover{
  color:#000;
  background-color: #fff;
}