// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
 font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
}

@font-face {
 font-family: "vintage",;
 src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
}

.font-vintage{
   font-family: 'vintage';
  src: url(asset_path('OldPrintingPressFreeVersion-8jd0.ttf'));
  text-align: center;
 background: rgb(3,0,0);
background: radial-gradient(circle, rgba(3,0,0,1) 0%, rgba(156,73,5,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.font-takibi{
   font-family: "takibi",;
 src: url(asset_path('04Takibi-Medium.otf'));
   text-align: center;
 background: rgb(3,0,0);
background: radial-gradient(circle, rgba(3,0,0,1) 0%, rgba(156,73,5,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

